<% if current_user %>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="/">Image Tracking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class='nav-item'>
              <%= link_to 'Register image', new_user_picture_path(current_user), { class: 'nav-link' } %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Registred images', user_pictures_path(current_user), { class: 'nav-link' } %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Ownership requests', :ownerships, { class: 'nav-link' } %>
            </li>
          </ul>
         <%= link_to 'Sign out', :destroy_user_session, { class: 'nav-link', method: 'delete' } %>
        </div>
      </div>
  </nav>
<% end %>